.intro {
    width: 100vw;
    height: 100vh;
    display:flex;
}

.heroImage{
    width: 40%;
    object-fit: cover;
}
.introContent {
    flex-basis: 60%;
    padding: 3rem;
    font-size: 7rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 5rem;
    font-weight: 100;
}
.introName{
    color: orange;
}
.introPara{
    font-size: 2rem;

}
