.navbar {
 height: 5rem;
 width: 100vw;
 margin: 0 auto;
 padding:  1rem 2rem;
 position: sticky;
 display: flex;
 justify-content: flex-end;
 top: 0;
 z-index: 3;
 font-size: 50px;
 
}

.desktopMenlistItem{
  margin: 7rem;
  cursor: pointer;
  
}

.desktopMenlistItem:hover {
 color: orange;
 padding-bottom: 0.5rem;
 border-bottom: 3px solid orange;
}
@media screen and (max-width: 0px) {
  .n-list {
    display: none;
  }
}
